# Prosjektoppgave MET2010

## Innholdsfotegnelse
1. Datainnhenting og strukturering
2. 
3. 
4. 
5. 
6.

## 1. Datainnhenting

In [15]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [16]:
weather = pd.read_csv("data/Temperatur_regn.csv", sep=";", decimal=",")

In [17]:
weather.tail()

,Navn,Stasjon,Tid(norsk normaltid),Maksimumstemperatur (døgn),Minimumstemperatur (døgn),Høyeste middelvind (døgn),Nedbør (døgn)
2553,Trondheim - Voll,SN68860,28.12.2021,-4.5,-10.1,"1,6",0.0
2554,Trondheim - Voll,SN68860,29.12.2021,-4.5,-9.7,"2,4",0.0
2555,Trondheim - Voll,SN68860,30.12.2021,-0.4,-6.5,"2,9",0.0
2556,Trondheim - Voll,SN68860,31.12.2021,2.4,-1.9,"4,8",3.2
2557,"Data er gyldig per 16.11.2022 (CC BY 4.0), Met...",NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
weather.drop(weather.tail(1).index,inplace=True)

In [19]:
weather.rename(columns={"Tid(norsk normaltid)" : "Tid"}, inplace=True)
weather.rename(columns={"Maksimumstemperatur (døgn)" : "Max_Temp"}, inplace=True)
weather.rename(columns={"Minimumstemperatur (døgn)" : "Min_Temp"}, inplace=True)
weather.rename(columns={"Høyeste middelvind (døgn)" : "Max_Wind"}, inplace=True)
weather.rename(columns={"Nedbør (døgn)" : "Rain"}, inplace=True)

In [20]:
weather.set_index("Tid", inplace=True)
weather.index = pd.to_datetime(weather.index, format="%d.%m.%Y").date